.header
  This is the header

.content
  .main#graph

  .sidebar
    This is the sidebar
    %div.label.group1
      %span.button XXXX
      %input
      %input{type: 'hidden', value: '1'}
    %div.label.group2
      %span.button XXXX
      %input
      %input{type: 'hidden', value: '2'}
    %div.label.group3
      %span.button XXXX
      %input
      %input{type: 'hidden', value: '3'}
