.hero-unit
  %h2 Welcome to
  %h1 Social Islands
  %h3
    Discover your communities.
  %h3
    Explore your network.
  %h3
    Label your social islands.
  %p
    %a.btn.btn-success.btn-large{title: 'Sign in with Facebook', href: '/auth/facebook'}
      = image_tag('facebook_32.png')
      Sign in with Facebook
