---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/
    body:
      encoding: US-ASCII
      string: batch=%5B%7B%22method%22%3A%22get%22%2C%22relative_url%22%3A%22me%3Ffields%3Dname%252Cfirst_name%252Clast_name%252Cgender%252Clocale%252Clanguages%252Clink%252Cusername%252Ctimezone%252Cverified%252Cbio%252Cbirthday%252Ccover%252Cdevices%252Ceducation%252Cemail%252Chometown%252Clocation%252Cpolitical%252Cpicture%252Creligion%252Csignificant_other%252Cwebsite%252Cwork%22%7D%2C%7B%22method%22%3A%22get%22%2C%22relative_url%22%3A%22fql%3Fq%3DSELECT%2Buid%252Cname%252Cpic%252Cmutual_friend_count%2BFROM%2Buser%2BWHERE%2Buid%2BIN%2B%2528553647753%252C563900754%2529%22%7D%5D&access_token=AAAFqtCQqsRMBADDjEPcCWxI61aaSZBM2fBDCnwoe9vuZCZBUPwJkNM8vIyU4metjsr4zwdYzNZCI9tZBDH8WPh7D7lrdSGaVwWQuJNcZB7EQZDZD
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"code":200,"headers":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"private,
        no-cache, no-store, must-revalidate"},{"name":"Connection","value":"close"},{"name":"Content-Type","value":"text\/javascript;
        charset=UTF-8"},{"name":"ETag","value":"\"33fe97ac6f1314e9a84e071197111da4c60d1ce8\""},{"name":"Expires","value":"Sat,
        01 Jan 2000 00:00:00 GMT"},{"name":"Pragma","value":"no-cache"}],"body":"{\"name\":\"Wolfram
        Arnold\",\"first_name\":\"Wolfram\",\"last_name\":\"Arnold\",\"gender\":\"male\",\"locale\":\"en_US\",\"link\":\"http:\\\/\\\/www.facebook.com\\\/wolfram\",\"username\":\"wolfram\",\"timezone\":-7,\"verified\":true,\"birthday\":\"05\\\/07\\\/1971\",\"cover\":{\"id\":\"10150823610735216\",\"source\":\"https:\\\/\\\/sphotos-b.xx.fbcdn.net\\\/hphotos-ash3\\\/s720x720\\\/599654_10150823610735216_390274517_n.jpg\",\"offset_y\":36},\"devices\":[{\"os\":\"Android\"}],\"education\":[{\"school\":{\"id\":\"108510145846959\",\"name\":\"Christian-Wirth-Schule\"},\"year\":{\"id\":\"131367623569918\",\"name\":\"1990\"},\"type\":\"High
        School\",\"with\":[{\"id\":\"1450761515\",\"name\":\"Regine Hungerb\\u00fchler\"},{\"id\":\"100000068682547\",\"name\":\"Jens
        Heuser\"}]},{\"school\":{\"id\":\"10515469841\",\"name\":\"University of Oregon\"},\"degree\":{\"id\":\"170434169669210\",\"name\":\"PhD\"},\"year\":{\"id\":\"143018465715205\",\"name\":\"2000\"},\"concentration\":[{\"id\":\"103735996332544\",\"name\":\"Materials
        Science\"},{\"id\":\"109279729089828\",\"name\":\"Physics\"}],\"type\":\"Graduate
        School\"}],\"email\":\"wolfram\\u0040arnold.name\",\"hometown\":{\"id\":\"106107456086305\",\"name\":\"Usingen\"},\"location\":{\"id\":\"114952118516947\",\"name\":\"San
        Francisco, California\"},\"political\":\"Liberal\",\"work\":[{\"employer\":{\"id\":\"202602139772492\",\"name\":\"WTA
        Consulting, Inc.\"},\"location\":{\"id\":\"114952118516947\",\"name\":\"San
        Francisco, California\"},\"position\":{\"id\":\"130875350283931\",\"name\":\"CEO
        & Founder\"},\"description\":\"Rails, TDD, Agile & Mobile Technology Consulting\",\"start_date\":\"2008-07\"},{\"employer\":{\"id\":\"109909292384495\",\"name\":\"Stealth
        Startup\"},\"location\":{\"id\":\"114952118516947\",\"name\":\"San Francisco,
        California\"},\"position\":{\"id\":\"130875350283931\",\"name\":\"CEO & Founder\"},\"description\":\"Stay
        tuned...\",\"start_date\":\"0000-00\"},{\"employer\":{\"id\":\"107262812639931\",\"name\":\"Papercheck.com\"},\"location\":{\"id\":\"114952118516947\",\"name\":\"San
        Francisco, California\"},\"position\":{\"id\":\"116566561728916\",\"name\":\"VP
        of Engineering\"},\"start_date\":\"2010-01\",\"end_date\":\"2012-01\"},{\"employer\":{\"id\":\"110096322346646\",\"name\":\"Real
        Girls Media\"},\"location\":{\"id\":\"114952118516947\",\"name\":\"San Francisco,
        California\"},\"position\":{\"id\":\"110265725662722\",\"name\":\"Senior Software
        Engineer\"},\"with\":[{\"id\":\"727136513\",\"name\":\"Nathan Wilmes\"},{\"id\":\"690514007\",\"name\":\"Nick
        Kallen\"},{\"id\":\"1213494587\",\"name\":\"Andrew Trice\"},{\"id\":\"668046932\",\"name\":\"Aram
        Price\"},{\"id\":\"595822764\",\"name\":\"Davis W. Frank\"}],\"description\":\"Building
        the CMS in Rails...\",\"start_date\":\"2006-11\",\"end_date\":\"2007-08\"}],\"id\":\"595045215\",\"picture\":\"https:\\\/\\\/fbcdn-profile-a.akamaihd.net\\\/hprofile-ak-snc4\\\/371822_595045215_1563438209_q.jpg\"}"},{"code":200,"headers":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Cache-Control","value":"private,
        no-cache, no-store, must-revalidate"},{"name":"Connection","value":"close"},{"name":"Content-Type","value":"text\/javascript;
        charset=UTF-8"},{"name":"ETag","value":"\"5915f2d85e21219809cb29327bfe5054350477b6\""},{"name":"Expires","value":"Sat,
        01 Jan 2000 00:00:00 GMT"},{"name":"Pragma","value":"no-cache"}],"body":"{\"data\":[{\"uid\":553647753,\"name\":\"Lars
        Kamp\",\"pic\":\"https:\\\/\\\/fbcdn-profile-a.akamaihd.net\\\/hprofile-ak-ash2\\\/27430_553647753_3455_s.jpg\",\"mutual_friend_count\":5},{\"uid\":563900754,\"name\":\"Weidong
        Yang\",\"pic\":\"https:\\\/\\\/fbcdn-profile-a.akamaihd.net\\\/hprofile-ak-snc4\\\/370434_563900754_1952612728_s.jpg\",\"mutual_friend_count\":15}]}"}]'
  recorded_at: Thu, 19 Jul 2012 07:39:21 GMT
[...]
