@import "bootswatch/cyborg/variables";

@import "bootstrap";

@import "bootswatch/cyborg/bootswatch";

$buttonColor: white;
$graphTop: $navbarHeight + 18px;
$legendTop: $navbarHeight + 23px;
$carouselHeight: 130px;
$fb_image_height: 130px;
$fb_image_width:  130px;
$image_count:     3;  // This will fill a max. width of 12*130=2600 pixels, displays wider than this may see odd effects

html {
  height: 100%;
}

.btn.island-show:active, .btn.island-show.active {
  border: #f5f5f5 solid 2px;
}

body {
  position: relative;
  height: 100%;
  background-image: none;
  background-color: $bodyBackground;
}

.rename {
  font-size: smaller;
}

#alerts {
  position: absolute;
  top: 5px;
  left: 35%;
  width: 30%;
  text-align: center;
}

#legend {
  position: absolute;
  left: 20px;
  top: $legendTop;
  width: 20%;
}

#graph {
  position: absolute;
  top: $graphTop;
  left: 20%;
  //heigh: 100%;
  right: 0;
  min-width: 300px;
  bottom: $carouselHeight;
  //top: 15px;
  //left: 0;
  //right: 0;
  //bottom: 62px + 15px;  // top bar is 44 pix + 18 margin = 62
  //height: auto;
}

#carousel {
  position: absolute;
  height: $carouselHeight;
  bottom: 0;
  left: 20px;
  right: 20px;
  overflow: hidden;
}

.banner {
  width: 3550px;
  > .img-wrapper {
    display: inline-block;
    text-align: center;
    width: $fb_image_width;
    height: $fb_image_height;
    > img {
      margin: auto;
    }
  }
}

.centered {
  text-align: center;
  width: 200px;
  border: solid white 2px;
}

// Animation inspired by http://designshack.net/articles/css/infinitephotobanner/
.img-wrapper.first {
  animation: gallery_slide 30s linear infinite;
  -webkit-animation: gallery_slide 30s linear infinite;
}

@keyframes "gallery_slide" {
  0%   { margin-left: 0px;     }
  100% { margin-left: -$image_count * $fb_image_width; }
}
@-webkit-keyframes "gallery_slide" {
  0%   { margin-left: 0px;     }
  100% { margin-left: -$image_count * $fb_image_width; }
}
@-moz-keyframes {
  0%   { margin-left: 0px;     }
  100% { margin-left: -$image_count * $fb_image_width; }
}
@-ms-keyframes {
  0%   { margin-left: 0px;     }
  100% { margin-left: -$image_count * $fb_image_width; }
}
@-o-keyframes {
  0%   { margin-left: 0px;     }
  100% { margin-left: -$image_count * $fb_image_width; }
}

#modal-spinner {
  text-align: center;
  background-color: #882;
}

#modal-spinner .modal-header {
  text-align: left;
}


.navbar-inner .share-buttons {
  padding-top: ($navbarHeight - 32)/2;
  padding-left: 10px;
}

.overlay {
  position: fixed;
  top: $navbarHeight + 5px;
  background-color: rgba(0,0,0,.7);
  border-left: 2px solid $grayLight;
  height: 100%;
  width: 70%;
  padding: 10px;
  @include box-sizing(border-box);
  $transition: left .5s ease-out;
  @include transition($transition);

  &.slide-in {
    left: 30%;   // left border at 30% --> visible
  }
  &.slide-out {
    left: 100%;  // left border at 100% --> not visible
  }
}

.overlay .close {
  float: right;
  font-size: 30px;
  color: $buttonColor;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.7);
  &:hover {
    color: $buttonColor;
    text-decoration: none;
    cursor: pointer;
    @include opacity(1.0);
  }
}
