@import "bootswatch/cyborg/variables";

// Hack--sprite path in Bootswatch is wrong, override here
$iconSpritePath:          asset-url("glyphicons-halflings.png", image);
$iconWhiteSpritePath:     asset-url("glyphicons-halflings-white.png", image);

@import "bootstrap";

@import "bootswatch/cyborg/bootswatch";

html {
  height: 100%;
}

.btn.island-show:active, .btn.island-show.active {
  border: #f5f5f5 solid 2px;
}

body {
  position: relative;
  height: 100%;
}

.full-height {
  position: relative;
  height: 100%;
}

.rename {
  font-size: smaller;
}

#alerts {
  position: absolute;
  top: 5px;
  left: 35%;
  width: 30%;
  text-align: center;
}

#graph {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 62px + 15px;  // top bar is 44 pix + 18 margin = 62
}
