@import "bootswatch/cyborg/variables";

@import "bootstrap";

@import "bootswatch/cyborg/bootswatch";

$buttonColor: white;

html {
  height: 100%;
}

.btn.island-show:active, .btn.island-show.active {
  border: #f5f5f5 solid 2px;
}

body {
  position: relative;
  height: 100%;
  background-image: none;
  background-color: $bodyBackground;
}

.full-height {
  position: relative;
  height: 100%;
}

.rename {
  font-size: smaller;
}

#alerts {
  position: absolute;
  top: 5px;
  left: 35%;
  width: 30%;
  text-align: center;
}

#graph {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 62px + 15px;  // top bar is 44 pix + 18 margin = 62
}

#modal-spinner {
  text-align: center;
  background-color: #882;
}

#modal-spinner .modal-header {
  text-align: left;
}


.navbar-inner .share-buttons {
  padding-top: ($navbarHeight - 32)/2;
  padding-left: 10px;
}

.overlay {
  position: fixed;
  top: $navbarHeight + 5px;
  background-color: rgba(0,0,0,.7);
  border-left: 2px solid $grayLight;
  height: 100%;
  width: 70%;
  padding: 10px;
  @include box-sizing(border-box);
  $transition: left .5s ease-out;
  @include transition($transition);

  &.slide-in {
    left: 30%;   // left border at 30% --> visible
  }
  &.slide-out {
    left: 100%;  // left border at 100% --> not visible
  }
}

.overlay .close {
  float: right;
  font-size: 30px;
  color: $buttonColor;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  @include opacity(0.7);
  &:hover {
    color: $buttonColor;
    text-decoration: none;
    cursor: pointer;
    @include opacity(1.0);
  }
}
