// Place all the styles related to the Scoring controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "bootswatch/journal/variables";
//
//// Hack--sprite path in Bootswatch is wrong, override here
//$iconSpritePath:          asset-url("glyphicons-halflings.png", image);
//$iconWhiteSpritePath:     asset-url("glyphicons-halflings-white.png", image);

@import "bootstrap";

//@import "bootswatch/journal/bootswatch";
@import "bootstrap_extension";

@import "gmaps4rails";

.red-green-bar {
  @include gradient-horizontal(#f00, #0f0);
  width: auto;
  height: 20px;
}

.green-red-bar {
  @include gradient-horizontal(#0f0, #f00);
  width: auto;
  height: 20px;
}

.red-green-red-bar {
  @include gradient-horizontal-three-colors(#f00, #0f0, 50%, #f00);
  position: relative;
  width: auto;
  height: 20px;
}

.pseudo-table-striped {
  .pseudo-table-row:nth-child(odd) {
    background-color: $tableBackgroundAccent;
  }
}

.pseudo-table-header {
  padding: 8px;
}

.pseudo-table-row {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.pseudo-table-row:hover {
  background-color: $tableBackgroundHover;
}
