body {
  font-size: 0.9em;
  font-family: Lucida; }

a {
  color: #3182bd; }

.content {
  width: 990px;
  margin: 0 auto;
  border-top: 0px;
  background-color: #ffffff;
  overflow: hidden; }

.chart {
  float: left;
  rect {
    &.bar {
      stroke: none;
      fill: steelblue; }
    &.stack1 {
      stroke: none;
      fill: red; }
    &.stack2 {
      stroke: none;
      fill: green; }
    &.deselected {
      stroke: none;
      fill: #ccc; } }
  .sub .bar {
    stroke: none;
    fill: #ccc; } }

.clear {
  clear: both; }

.pie-slice {
  fill: white;
  font-size: 12px;
  path {
    &.selected {
      stroke-width: 3;
      stroke: #ccc;
      fill-opacity: 1; }
    &.deselected {
      strok: none;
      fill-opacity: .5;
      fill: #ccc; } } }

.axis {
  path, line {
    fill: #aaa;
    stroke: #000;
    shape-rendering: crispEdges; }
  text {
    font: 10px sans-serif; } }

.brush {
  rect {
    &.background {
      z-index: -999; }
    &.extent {
      fill: steelblue;
      fill-opacity: .125; } }
  .resize path {
    fill: #eee;
    stroke: #666; } }

.chart {
  path.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }
  g {
    &.stack1 path.line {
      stroke: green; }
    &.stack2 path.line {
      stroke: red; } }
  path.area {
    fill: steelblue;
    fill-opacity: .3;
    stroke: none; }
  g {
    &.stack1 path.area {
      fill: green; }
    &.stack2 path.area {
      fill: red; } } }

.line {
  fill: none;
  stoke: steelblue;
  stroke-width: 2px;}

.node {
  font-size: 0.7em;
  .selected {
    stroke-width: 3;
    stroke: #ccc;
    fill-opacity: 1; }
  circle.deselected {
    strok: none;
    fill-opacity: .5;
    fill: #ccc; } }

.bubble {
  stroke: none;
  fill-opacity: 0.6; }

#data-count {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  .filter-count, .total-count {
    color: #3182bd;
    font-weight: bold; } }

#data-table {
  width: 700px;
  margin-bottom: 50px;
  span {
    display: table-cell;
    width: 135px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border: white solid 2px; }
  .header {
    font-weight: bold;
    span {
      background-color: #c6dbef;
      color: white; } }
  .group span.label {
    font-weight: bold;
    font-size: larger;
    float: inherit; }
  .column {} }