// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";


body {
  background-color: #222;
  text-align: center; // hack for FF 3.x, IE, ...
  color: white;
}

.header {
  height: 50px;
}

.content {
  width: 100%;
  @include box($orient: horizontal, $pack: justify, $align: top);
  position: absolute;
  top: 50;
  height: 90%;
  //@include centering;
}

.main {
  @include box-flex(1);
  box-flex: 1;
}

.sidebar {
  width: 200px;
  height: 100%;
}

.sidebar input {
  width: 100px;
}

.group1 {
  background-color: cyan;
  width: 100%;
}
.group2 {
  background-color: yellow;
  width: 100%;
}
.group3 {
  background-color: red;
  width: 100%;
}

.pressed {
  background-color: black;
}