-#%h1 Run Score
-#
-#= simple_form_for :user, url: profile_path do |f|
-#  = f.error_notification
-#  = f.input :token, label: 'Facebook user access token', html_input: {name: :token}
-#  = f.input :app_id, label: 'app_id', html_input: {name: :app_id}
-#  = f.button :submit, 'Run Score', class: 'btn btn-primary'
