-#%h1 Run Score
-#
-#= simple_form_for :user, url: profile_path do |f|
-#  = f.error_notification
-#  = f.input :token, label: 'Facebook user access token', html_input: {name: :token}
-#  = f.input :api_key, label: 'Api Key', html_input: {name: :api_key}
-#  = f.button :submit, 'Run Score', class: 'btn btn-primary'
